html {
  box-sizing: border-box
}

*, *:before, *:after {
  box-sizing: inherit
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0
}

body {
  color: #212529;
  background-color: #3973EB;
  font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}

/* COMMON ELEMENTS */

a {
  color: #2867e5;
}

a:hover {
  text-decoration: none;
}

h1 a, h2 a {
  color: #212529;
  text-decoration-color: #4dabf7;
}

.slanted-link {
  display: inline-block;
  transform: skew(-20deg);
  line-height: 1.4em;
  font-size: 21px;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  background-color: #2263e9;
  box-shadow: 4px 5px 0 #b6e0ff;
}

h1 {
  margin-top: 1.5em;
  margin-bottom: 1em;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.2em;
}

h2 {
  margin-top: 1.5em;
  margin-bottom: 1em;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 1.3em;
}

h3 {
  margin-top: 1.5em;
  margin-left: -60px;
  margin-bottom: 1em;
  display: inline-block;
  padding: 13px 60px 15px;
  border: 1px solid #212529;
  font-size: 1.5em;
  font-weight: bold;
  background-color: #FBC9DA
}

h4 {
  margin-top: 1.5em;
  margin-bottom: 1em;
  font-weight: 600;
  font-size: 1.25em;
  line-height: 1.4em;
}

p {
  margin-bottom: 1em;
  line-height: 1.44em
}

ul, ol {
  margin-top: 8px;
  margin-left: -16px
}

li {
  margin-bottom: .5em;
}

code {
  padding: 0px 5px 2px;
  color: #fff;
  background-color: #212529;
  border-radius: 2px;
}

pre, pre[class*="language-"] {
  margin-bottom: 28px;
  padding: 17px 26px 18px;
  font-size: 16px;
  font-family: monospace;
  color: #fff;
  background-color: #212529;
}

pre code, pre[class*="language-"] code {
  padding: 0;
  border-radius: 0px;
}


/* PAGE LAYOUT */

.page {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin-left: -140px
}


/* MAIN CONTENT */

.main {
  width: 691px;
  padding: 45px 46px 48px;
  border-right: 1px solid #212529;
  border-left: 1px solid #212529;
  line-height: 1.44em;
  font-size: 17px;
  background-color: #fff
}


/* SIDEBAR */

.sidebar {
  width: 280px;
  padding-top: 36px;
  background-color: #4d81ed
}

.sidebar__list {
  margin-bottom: 40px
}

.sidebar__list-heading {
  margin-bottom: 6px;
  padding: 10px 20px 12px 30px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.75);
  text-transform: uppercase
}

.sidebar__list-item {
  display: block;
  padding: 10px 20px 12px 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  line-height: 1.3em;
  font-weight: 500;
  color: #fff;
  text-decoration: none
}

.sidebar__list-item:hover {
  background-color: #5d8ef5
}

.sidebar__list-item:first-child {
  border-top: 1px solid rgba(255, 255, 255, 0.2)
}

.sidebar__list-item:first-child.sidebar__list-item--selected {
  border: 1px solid #212529
}

.sidebar__list-item--selected, .sidebar__list-item--selected:hover {
  position: relative;
  margin-left: -11px;
  margin-right: -1px;
  padding-left: 41px;
  background-color: #fff;
  border: 1px solid #212529;
  color: #0C2D72
}

.sidebar__list-item--selected::before, .sidebar__list-item--selected:hover::before {
  position: absolute;
  top: 0;
  right: -1px;
  width: 1px;
  height: 100%;
  content: "";
  background-color: #fff
}


/* LOGO */

.logo {
  margin-top: 0;
  margin-bottom: 1.5em;
  font-size: 1rem;
}

.logo-image {
  width: 259px
}

/* UTILS */

.slanted-link > * {
  display: inline-block;
  padding: 4px 21px 6px 17px;
  transform: skew(20deg);
}

.slanted-link:hover {
  background-color: #3973EB;
  box-shadow: 4px 5px 0 #d0ebff;
}

.spacer--8 {
  height: 8px;
}

.spacer--16 {
  height: 16px;
}

.spacer--24 {
  height: 24px;
}

.spacer--32 {
  height: 32px;
}






