---
title: Remake - A framework for building CRUD web apps quickly
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600" rel="stylesheet">
    <link rel="stylesheet" href="/static/normalize-min.css">
    <link rel="stylesheet" href="/static/prism.css">
    <link rel="stylesheet" href="/static/style.css">
    <!-- favicon: -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="Remake.js">
    <meta name="application-name" content="Remake.js">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <div class="page">
      <div class="sidebar">
        <div class="sidebar__list-container">
          <div class="sidebar__list-heading">INTRO</div>
          <div class="sidebar__list"><a class="sidebar__list-item sidebar__list-item--selected" href="#">Intro &amp; Quick Start</a></div>
        </div>
        <div class="sidebar__list-container">
          <div class="sidebar__list-heading">STEP-BY-STEP TUTORIAL</div>
          <div class="sidebar__list">
            <a class="sidebar__list-item" href="#">Creating a Project</a>
            <a class="sidebar__list-item" href="#">Adding Data</a>
            <a class="sidebar__list-item" href="#">Modifying Data</a>
            <a class="sidebar__list-item" href="#">Saving Data</a>
            <a class="sidebar__list-item" href="#">Nesting Data</a>
          </div>
        </div>
        <div class="sidebar__list-container">
          <div class="sidebar__list-heading">REFERENCE</div>
          <div class="sidebar__list">
            <a class="sidebar__list-item" href="#">Remake API</a>
          </div>
        </div>
        <div class="sidebar__list-container">
          <div class="sidebar__list-heading">ABOUT</div>
          <div class="sidebar__list">
            <a class="sidebar__list-item" href="#">Why Remake</a>
            <a class="sidebar__list-item" href="#">Contributors</a>
          </div>
        </div>
      </div>
      <div class="main">
        <a class="github-link github-link--top" href="https://github.com/panphora/remake" target="_blank"><img src="/static/github.svg"> View on GitHub</a>
        {{{ content }}}
        <a class="github-link github-link--footer" href="https://github.com/panphora/remake" target="_blank"><img src="/static/github.svg"> View on GitHub</a>
      </div>
    </div>
    <script src="/static/prism.js"></script>
    <script src="/static/main.js"></script>
  </body>
</html>