<div
  data-i-editable-with-remove="name(text-single-line)"
  data-o-type="object"
  data-o-key-id="{{todoList.id}}"
  data-o-key-name="{{todoList.name}}"
  data-w-key-name="innerText"
>{{todoList.name}}</div>