html {
  box-sizing: border-box
}

*, *:before, *:after {
  box-sizing: inherit
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0
}

body {
  background-color: #3973EB;
  font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}

a {
  color: #228AE6
}

a:hover {
  text-decoration: none
}

.page-notice {
  padding: 12px;
  font-weight: bold;
  background-color: #212529;
  color: #fff;
  text-align: center
}

.page {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin-left: -140px
}

.sidebar {
  width: 280px;
  padding-top: 36px;
  background-color: #4d81ed
}

.sidebar__list {
  margin-bottom: 40px
}

.sidebar__list-heading {
  margin-bottom: 6px;
  padding: 10px 20px 12px 30px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.75);
  text-transform: uppercase
}

.sidebar__list-item {
  display: block;
  padding: 10px 20px 12px 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  line-height: 1.3em;
  font-weight: 500;
  color: #fff;
  text-decoration: none
}

.sidebar__list-item:hover {
  background-color: #5d8ef5
}

.sidebar__list-item:first-child {
  border-top: 1px solid rgba(255, 255, 255, 0.2)
}

.sidebar__list-item:first-child.sidebar__list-item--selected {
  border: 1px solid #212529
}

.sidebar__list-item--selected, .sidebar__list-item--selected:hover {
  position: relative;
  margin-left: -11px;
  margin-right: -1px;
  padding-left: 41px;
  background-color: #fff;
  border: 1px solid #212529;
  color: #0C2D72
}

.sidebar__list-item--selected::before, .sidebar__list-item--selected:hover::before {
  position: absolute;
  top: 0;
  right: -1px;
  width: 1px;
  height: 100%;
  content: "";
  background-color: #fff
}

.main {
  width: 691px;
  padding: 45px 46px 48px;
  border-right: 1px solid #212529;
  border-left: 1px solid #212529;
  line-height: 1.44em;
  font-size: 17px;
  background-color: #fff
}

.main p {
  margin-bottom: 1em;
  line-height: 1.44em
}

.main__logo {
  margin-bottom: 36px
}

.main__logo-image {
  width: 259px
}

.main__page-subheading {
  font-weight: 400;
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 1.44em
}

.main__list-container {
  margin-bottom: 24px
}

.main__list-heading {
  font-weight: bold
}

.main__list {
  margin-top: 8px;
  margin-left: -16px
}

.section {
  margin-bottom: 38px
}

.section__heading {
  display: inline-block;
  margin-left: -60px;
  margin-bottom: 32px;
  padding: 13px 60px 15px;
  border: 1px solid #212529;
  font-size: 20px;
  font-weight: bold;
  background-color: #FBC9DA
}

.code {
  margin-bottom: 28px;
  padding: 17px 26px 18px;
  font-family: monospace;
  background-color: #212529;
  color: #fff
}