html {
  box-sizing: border-box
}

*, *:before, *:after {
  box-sizing: inherit
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0
}

body {
  color: #212529;
  background-color: #3973EB;
  font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}

/* COMMON ELEMENTS */

a {
  color: #2867e5;
}

a:hover {
  text-decoration: none;
}

h1 a, h2 a {
  color: #212529;
  text-decoration-color: #4dabf7;
}

h1 {
  margin-top: 1.5em;
  margin-bottom: 1em;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 1.2em;
}

h2 {
  margin-top: 1.5em;
  margin-bottom: 1em;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 1.3em;
}

h2.api {
  padding-bottom: .75em;
  border-bottom: 1px solid #e9ecef;
  font-size: 1.7em;
  font-weight: 700;
}

h3 {
  position: relative;
  z-index: 2;
  margin-top: 1.5em;
  margin-left: -60px;
  margin-bottom: 1em;
  display: inline-block;
  padding: 13px 60px 15px;
  border: 1px solid #212529;
  font-size: 1.5em;
  font-weight: bold;
  background-color: #FBC9DA
}

h3 code {
  padding: 0;
  color: #212529;
  background-color: transparent;
}

h4 {
  margin-top: 1.5em;
  margin-bottom: 1em;
  font-weight: 600;
  font-size: 1.25em;
  line-height: 1.4em;
}

h1 + h2, h2 + h3, h3 + h4, h1 + h3, h1 + h4, h2 + h4 {
  margin-top: .5em;
}

p {
  margin-bottom: 1.5em;
  line-height: 1.65em;
}

ul, ol {
  margin-top: 8px;
  margin-left: -16px
}

li {
  margin-bottom: .5em;
  line-height: 1.65em;
}

code {
  line-height: 1em;
  padding: 2px 5px 3px;
  font-size: 14px;
  background-color: #e9ecef;
  border-radius: 2px;
}

pre, pre[class*="language-"] {
  margin-bottom: 28px;
  padding: 17px 26px 18px;
  font-size: 16px;
  font-family: monospace;
  color: #fff;
  background-color: #212529;
}

pre code, pre[class*="language-"] code {
  padding: 0;
  border-radius: 0px;
}

hr {
  margin: 2.5rem 0 2rem;
  border: 0;
  height: 0;
  border-top: 1px solid #ced4da;
  border-bottom-width: 0;
}

blockquote {
  margin: 0;
  padding: 1px 2rem;
  border-left: 5px solid #ced4da;
}

img {
  max-width: 100%;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* PAGE LAYOUT */

.page {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin-left: -140px
}


/* MAIN CONTENT */

.main {
  position: relative;
  width: 800px;
  padding: 45px 46px 48px;
  border-right: 1px solid #212529;
  border-left: 1px solid #212529;
  line-height: 1.4em;
  font-size: 18px;
  background-color: #fff
}


/* SIDEBAR */

.sidebar {
  width: 280px;
  padding-top: 36px;
}

.sidebar.mobile {
  width: 100%;
  padding-top: 32px;
  padding-bottom: 120px;
}

.sidebar__list {
  margin-bottom: 40px
}

.sidebar__list-heading {
  margin-bottom: 6px;
  padding: 10px 20px 12px 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fbbad0;
  text-transform: uppercase
}

.sidebar__list-item {
  display: block;
  padding: 10px 20px 12px 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  line-height: 1.3em;
  font-weight: 500;
  color: #fff;
  text-decoration: none
}

.sidebar__list-item:hover {
  background-color: #5d8ef5
}

.sidebar__list-item:first-child {
  border-top: 1px solid rgba(255, 255, 255, 0.2)
}

.sidebar__list-item:first-child.sidebar__list-item--selected {
  border: 1px solid #212529
}

.sidebar__list-item--selected, .sidebar__list-item--selected:hover {
  position: relative;
  z-index: 1;
  margin-left: -11px;
  margin-right: -1px;
  padding-left: 41px;
  background-color: #fff;
  border: 1px solid #212529;
  color: #0C2D72
}

.sidebar__list-item--selected::before, .sidebar__list-item--selected:hover::before {
  position: absolute;
  top: 0;
  right: -1px;
  width: 1px;
  height: 100%;
  content: "";
  background-color: #fff
}


/* LOGO */

.logo {
  margin-top: 0;
  margin-bottom: 2.5em;
  font-size: 1rem;
}

.logo-image {
  width: 259px
}

/* COMPONENTS */

.github-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  background-color: #24292e;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  height: 36px;
  padding-left: .75rem;
  padding-right: .75rem;
}

.github-link--top {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.github-link--footer {
  float: right;
}

.github-link:hover {
  background-color: #3a424b;
}

.github-link img {
  max-height: 21px;
  margin-right: 8px;
}

/* UTILS */

.slanted-link {
  display: inline-block;
  transform: skew(-20deg);
  line-height: 1.4em;
  font-size: 21px;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  background-color: #2263e9;
  box-shadow: 4px 5px 0 #b6e0ff;
}

.slanted-link > * {
  display: inline-block;
  padding: 4px 21px 6px 17px;
  transform: skew(20deg);
}

.slanted-link:hover {
  background-color: #3973EB;
  box-shadow: 4px 5px 0 #d0ebff;
}

.spacer--8 {
  height: 8px;
}

.spacer--16 {
  height: 16px;
}

.spacer--24 {
  height: 24px;
}

.spacer--32 {
  height: 32px;
}

.spacer--48 {
  height: 48px;
}

.image--small {
  max-width: 420px;
}

.image--center {
  display: block;
  margin: 0 auto;
}

.image--border {
  border: 7px solid #e6effa;
}

.rounded {
  overflow: hidden;
  border-radius: 7px;
}

.border {
  border: 1px solid #8a9db7;
}

#ph-upcoming-widget, #ph-upcoming-widget * {
  font-size: 15px !important;
}

.toggle-button {
  position: fixed;
  z-index: 99999;
  top: 16px;
  left: 16px;
  display: none;
  padding: 8px 16px 10px;
  text-decoration: none;
  color: #fff;
  background-color: #3d76e8;
  border-radius: 999px;
  border: 3px solid white;
}

@media (max-width: 1100px) {
  .toggle-button {
    display: block;
  }

  .logo {
    margin-top: 2rem;
  }

  .page {
    margin-left: 0;
  }

  .sidebar.hide-on-mobile {
    display: none;
  }

  .main {
    width: 100%;
  }
}




