<div
  data-o-save-deep="defaultSave"
  data-o-type="object"
>
  <div 
    class="todo-lists"
    data-o-key="todoLists"
    data-o-type="list"
  >
    {{#each data.todoLists}}
      {{> todoList todoList=this}}
    {{/each}}
  </div>
</div>
<button 
  class="button"
  data-i-new="todoList .todo-lists"
>Add Todo List</button>