<div class="accounts">
  <form class="accounts__form" action="/login" method="post">
    <div class="accounts__heading">Log in</div>
    <div class="text-field">
      <label class="text-field__label">
        <span class="text-field__label-text">Username</span>
        <input class="text-field__input" type="text" name="username" required>
      </label>
    </div>
    <div class="text-field">
      <label class="text-field__label">
        <span class="text-field__label-text">Password</span>
        <input class="text-field__input" type="password" name="password" required>
      </label>
    </div>
    <button class="button m-t-16" type="submit">Log in</button>
  </form>
</div>